@import "tailwindcss";

#zalo-position {
  position: fixed !important;
  bottom: 200px !important;
  right: 10px !important;
  z-index: 9999;
}

@media (max-width: 768px) {
  #zalo-position {
    bottom: 220px !important;
    right: 10px !important;
  }
}

@media (max-width: 768px) {
  #zalo-position {
    bottom: 120px !important;
    right: 12px !important;
  }

  #hotline-call {
    bottom: 40px;
    right: 10px;
  }
}

#hotline-call {
  position: fixed;
  bottom: 120px;
  right: 10px;
  z-index: 9999;
  width: 60px;
  height: 60px;
}

#hotline-call a {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
}

.quick-alo-ph-circle-fill {
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 50%;
  background-color: #ff4500 !important;
  opacity: 0.5;
  animation: zoomIn 1.5s infinite ease-in-out;
}

.quick-alo-ph-img-circle {
  width: 50px;
  height: 50px;
  top: 5px;
  left: 5px;
  position: absolute;
  border-radius: 50%;
  background-color: #ff4500 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: shake 1.5s infinite;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.3;
  }

  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-12deg);
  }

  40% {
    transform: rotate(12deg);
  }

  60% {
    transform: rotate(-8deg);
  }

  80% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 768px) {
  #hotline-call {
    bottom: 40px;
    right: 10px;
  }
}